.rec {
  padding: 0.2rem 0 0 0;
  .songList {
    .top {
      height: 0.2rem;
      line-height: 0.2rem;
      margin: 0 0 0.14rem 0;
      font-size: 17px;
      padding-left: 0.09rem;
      position: relative;
      color: #333;
      &::before {
        content: '';
        background-color: #d43c33;
        position: absolute;
        left: 0;
        top: 0.02rem;
        width: 0.02rem;
        height: 0.16rem;
      }
    }
    .listBox {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 32.8%;
        height: 100%;
        margin-bottom: 0.16rem;
        padding-left: 0.01rem;
        padding-right: 0.01rem;
        display: flex;
        flex-wrap: wrap;
        img {
          width: 100%;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          padding: 0.06rem 0.02rem 0 0.06rem;
          text-overflow: ellipsis;
          line-height: 1.2;
          font-size: 13px;
        }
      }
    }
  }
  // }
}
