@import "public", "reset";

.container {
	.sideBar {
		@include bg;
		padding-top: .54rem;
		float: left;
		border-right: .01rem solid #666;

		ul {
			width: 1.63rem;

			li {

				font-size: .25rem;
				margin-bottom: .88rem;

				&::before {
					content: "";
					width: .08rem;
					height: .52rem;
					float: left;
					background-color: transparent;


				}

				&:hover a {
					color: #EE763F;
				}

				&:hover::before {
					background-color: #EE763F;
				}

				a {
					display: inline;
					line-height: .52rem;
					height: .52rem;
					color: #777;
					padding-left: .3rem;
				}

			}

		}
	}

	.section {
		width: calc(100% - 1.66rem);
		float: left;
		@include bg;

		.title {
			height: .26rem;
			margin: .66rem .56rem 0 .56rem;
			font-size: .26rem;

			p {
				float: left;
			}

			.more {
				float: right;
				color: #777;

				.right {
					float: right;
					background: url("../images/order/arrow.jpg") no-repeat;
					width: .19rem;
					height: .26rem;
				}
			}
		}

		.section1 {
			.con {
				ul {
					color: #777;
					margin-top: .1rem;
					margin-bottom: 1.15rem;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					align-items: flex-end;
					text-align: center;
					font-size: .22rem;

					li {
						img {
							margin-top: .35rem;
							margin-bottom: .24rem;
							width: 1.54rem;
							height: 1.52rem;
						}
					}
				}
			}
		}

		.section2 {
			.con {
				ul {
					color: #777;
					margin-top: .1rem;
					margin-bottom: 1.15rem;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					text-align: center;
					font-size: .22rem;

					li {
						img {
							margin-top: .35rem;
							margin-bottom: .24rem;
							width: .82rem;
							height: 1.33rem;
						}
					}
				}
			}
		}
	}
}