@charset "UTF-8";
body {
  margin: 0;
  font: 12px/1 "Microsoft YaHei", Tahoma, Arial, Helvetica, sans-serif;
}

p,
dl,
dd,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul,
li,
ol {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  vertical-align: middle;
  outline: none;
  /* 去掉输入框点击时出现的轮廓框 */
  border: none;
}

a {
  text-decoration: none;
  color: #333333;
}

i,
em {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #eee;
}

.wrap {
  width: 7.1rem;
  margin: 0 auto;
}

header {
  background-color: #fff;
}

header .wrap {
  height: .88rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap a {
  display: block;
  width: 1.47rem;
  height: .33rem;
}

header .wrap a img {
  width: 1.47rem;
}

header .wrap label {
  height: 0.39rem;
}

header .wrap label input {
  width: 3.03rem;
  text-align: center;
  line-height: 0.39rem;
  border-radius: .1rem;
  background-color: #EEEEEE;
  font-size: .17rem;
}

header .wrap .more {
  height: .12rem;
}

header .wrap .more span {
  float: left;
  width: .12rem;
  height: .12rem;
  margin: 0 .12rem 0 0;
  border-radius: 50%;
  background-color: #000;
}

hr {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #fff;
}

.nav .wrap {
  height: .78rem;
  line-height: .74rem;
  position: relative;
}

.nav .wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0.28rem;
  color: #6B6B6B;
}

.nav .wrap ul li {
  border-bottom: .04rem solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav .wrap ul li:hover {
  border-bottom: 0.04rem solid #D40948;
}

.nav .wrap ul li:first-of-type {
  color: #D40948;
}

.nav .wrap a {
  display: block;
  position: absolute;
  top: .18rem;
  right: 0;
  height: .4rem;
  line-height: .4rem;
  padding: 0 0 0 .1rem;
  background-color: #fff;
}

.nav .wrap a img {
  width: .35rem;
}

.banner {
  position: relative;
  height: 2.9rem;
  width: 7.5rem;
  background-color: #fff;
}

.banner img {
  position: absolute;
  width: 7.5rem;
}

.menu {
  background-color: #fff;
}

.menu .wrap {
  height: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .wrap img {
  width: .64rem;
  height: .62rem;
}

.menu .wrap a {
  font-size: .18rem;
  color: #6B6B6B;
  margin-top: .28rem;
  display: block;
}

.floorOne {
  width: 7.5rem;
  height: 3.97rem;
  background-color: #fff;
  margin: .3rem 0;
}

.floorOne .wrap {
  padding: .17rem 0 0 0;
  height: 3.97rem;
}

.floorOne .wrap .fLeft {
  float: left;
  border-right: .01rem solid #eee;
  width: 3.47rem;
}

.floorOne .wrap .fLeft .fLeft1 {
  height: .33rem;
  width: 1.79rem;
}

.floorOne .wrap .fLeft .fLeft1 img {
  width: .33rem;
  height: .31rem;
  vertical-align: -.05rem;
}

.floorOne .wrap .fLeft .fLeft1 span {
  color: #F52E64;
  font-size: .27rem;
  margin-left: .14rem;
}

.floorOne .wrap .fLeft .fLeft2 {
  margin: .05rem 0 .09rem 0;
  width: 2.39rem;
  height: .21rem;
}

.floorOne .wrap .fLeft .fLeft2 a span {
  font-size: .21rem;
  color: #6B6B6B;
  white-space: nowrap;
  /* 文本不换行 */
  overflow: hidden;
  /* 盒子内容溢出隐藏 */
  text-overflow: ellipsis;
  /* 文本溢出显示省略号 */
}

.floorOne .wrap .fLeft .fLeft3 {
  width: 2.86rem;
  height: .42rem;
  font-size: .22rem;
}

.floorOne .wrap .fLeft .fLeft3 span {
  display: inline-block;
  width: .42rem;
  height: .42rem;
  background-color: #000;
  color: #fff;
  line-height: .42rem;
  text-align: center;
  border-radius: .06rem;
  float: left;
}

.floorOne .wrap .fLeft .fLeft3 span:nth-of-type(2n) {
  background-color: #fff;
  width: .17rem;
  color: #000;
}

.floorOne .wrap .fLeft .fLeft3 p {
  float: right;
  width: .96rem;
  height: .42rem;
  line-height: .42rem;
  text-align: center;
  background: url("../images/index_/bg.jpg") no-repeat;
  background-size: .96rem .42rem;
}

.floorOne .wrap .fLeft .fLeft4 {
  padding: .26rem 0 0 .4rem;
  position: relative;
}

.floorOne .wrap .fLeft .fLeft4 img {
  width: 2.36rem;
  height: 2rem;
}

.floorOne .wrap .fLeft .fLeft4 .circle {
  position: absolute;
  width: .84rem;
  height: .84rem;
  background-color: #FC4777;
  border-radius: 50%;
  color: #fff;
  font-size: .24rem;
  line-height: .84rem;
  text-align: center;
  top: 1.2rem;
  left: 2.4rem;
}

.floorOne .wrap .fLeft .fLeft4 .circle span {
  display: inline-block;
}

.floorOne .wrap .fLeft .fLeft4 .circle span::first-letter {
  font-size: .2rem;
}

.floorOne .wrap .fRight {
  width: 3.53rem;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: .1rem;
}

.floorOne .wrap .fRight .frTop {
  height: 1.88rem;
  border-bottom: .01rem solid #EEEEEE;
}

.floorOne .wrap .fRight .frTop .frTopL {
  float: left;
  width: 1.7rem;
}

.floorOne .wrap .fRight .frTop .frTopL .frTop1 {
  width: 1.9rem;
  float: left;
  font-size: .27rem;
  color: #FC4777;
}

.floorOne .wrap .fRight .frTop .frTopL .frTop1 span {
  display: inline-block;
  width: .32rem;
  height: .25rem;
  font-size: .2rem;
  color: #fff;
  text-align: center;
  vertical-align: .02rem;
  line-height: .25rem;
  border-radius: .03rem;
  margin: 0 0 0 .1rem;
  background: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background: linear-gradient(to right, red, orange);
}

.floorOne .wrap .fRight .frTop .frTopL .frTop2 {
  float: left;
  font-size: .21rem;
  color: #6B6B6B;
  margin: .09rem 0 .26rem 0;
}

.floorOne .wrap .fRight .frTop .frTopL .frTop3 {
  float: left;
  height: .32rem;
}

.floorOne .wrap .fRight .frTop .frTopL .frTop3 img {
  width: .93rem;
}

.floorOne .wrap .fRight .frTop .frTop4 {
  float: right;
  height: 1.78rem;
}

.floorOne .wrap .fRight .frTop .frTop4 img {
  width: 1.28rem;
}

.floorOne .wrap .fRight .frBottom {
  padding-top: .1rem;
}

.floorOne .wrap .fRight .frBottom .frbLeft {
  width: 1.69rem;
  height: 1.69rem;
  font-size: .27rem;
  color: #FC4777;
  float: left;
  text-align: left;
}

.floorOne .wrap .fRight .frBottom .frbLeft p:nth-of-type(2) {
  font-size: .21rem;
  color: #6B6B6B;
  margin: .09rem 0 .1rem 0;
  white-space: nowrap;
  /* 文本不换行 */
  overflow: hidden;
  /* 盒子内容溢出隐藏 */
  text-overflow: ellipsis;
  /* 文本溢出显示省略号 */
}

.floorOne .wrap .fRight .frBottom .frbLeft img {
  margin-left: .35rem;
  width: .64rem;
  height: 1.02rem;
}

.floorOne .wrap .fRight .frBottom .frbRight {
  padding-left: .1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 1.64rem;
  font-size: .27rem;
  color: #FC4777;
  float: right;
}

.floorOne .wrap .fRight .frBottom .frbRight p:nth-of-type(2) {
  font-size: .21rem;
  color: #6B6B6B;
  white-space: nowrap;
  /* 文本不换行 */
  overflow: hidden;
  /* 盒子内容溢出隐藏 */
  text-overflow: ellipsis;
  /* 文本溢出显示省略号 */
  margin: .09rem 0 .16rem 0;
}

.floorOne .wrap .fRight .frBottom .frbRight img {
  width: 1.04rem;
  height: .88rem;
  margin-left: .12rem;
}

.floorTwo {
  margin-bottom: .3rem;
}

.floorTwo img {
  width: 7.5rem;
  height: 1.87rem;
}

.floorThree {
  background-color: #fff;
  padding-bottom: 1.2rem;
}

.floorThree .wrap {
  padding-top: .2rem;
  padding-bottom: .28rem;
}

.floorThree .wrap .fltNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: .68rem;
  font-size: .28rem;
  border: 0.01rem solid #6B6B6B;
}

.floorThree .wrap .fltNav ul li {
  width: 1.76rem;
  height: .68rem;
  line-height: .68rem;
  text-align: center;
}

.floorThree .wrap .fltNav ul li:nth-of-type(3), .floorThree .wrap .fltNav ul li:nth-of-type(2), .floorThree .wrap .fltNav ul li:nth-of-type(1) {
  border-right: 0.01rem solid #6B6B6B;
}

.floorThree .wrap .fltNav ul li:first-of-type {
  background-color: orangered;
  color: #fff;
}

.floorThree .wrap .fltN {
  -webkit-box-shadow: 0 0 .2rem #bbb;
          box-shadow: 0 0 .2rem #bbb;
  margin-top: .2rem;
  margin-bottom: .34rem;
  border-radius: .1rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floorThree .wrap .fltN:last-of-type {
  margin-bottom: 0;
}

.floorThree .wrap .fltN .fltNl {
  margin-left: .37rem;
}

.floorThree .wrap .fltN .fltNl img {
  width: 2.16rem;
  height: 2.2rem;
}

.floorThree .wrap .fltN .fltNr {
  margin-left: .5rem;
}

.floorThree .wrap .fltN .fltNr p:first-of-type {
  font-size: .3rem;
}

.floorThree .wrap .fltN .fltNr p:nth-of-type(2) {
  margin: .27rem 0 .32rem 0;
  font-size: .23rem;
  color: orangered;
}

.floorThree .wrap .fltN .fltNr p:nth-of-type(2):first-letter {
  font-size: .18rem;
}

.floorThree .wrap .fltN .fltNr p:last-of-type {
  color: #6B6B6B;
  font-size: .2rem;
  margin-bottom: .31rem;
}

.floorThree .wrap .fltN .fltNr button {
  width: 1.64rem;
  height: .52rem;
  background-color: orangered;
  color: #fff;
  border-radius: .1rem;
  font-size: .22rem;
}

.footer {
  background-color: #fff;
  border-top: 1px solid #EEEEEE;
  position: fixed;
  bottom: 0;
  width: 7.5rem;
}

.footer .wrap ul {
  height: 1.2rem;
  margin: 0 .5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .wrap ul p {
  margin-top: .12rem;
  font-size: .2rem;
  color: #6B6B6B;
}

.footer .wrap ul img {
  width: .51rem;
  height: .51rem;
}

.footer .wrap ul li:first-of-type p {
  color: orangered;
}
/*# sourceMappingURL=index.css.map */