@import "public", "reset";

.container {
	color: #555;

	.dress {
		font-size: .22rem;
		@include bg;
		height: 1.5rem;
		margin-bottom: .12rem;

		.wrap {
			padding-top: .3rem;
			height: 1.5rem;
			box-sizing: border-box;

			.left {
				float: left;
				padding-top: .11rem;

				.man {
					width: 6.2rem;
					margin: 0 0 0 .1rem;
					height: .22rem;

					.man1 {
						float: left;
					}

					.man2 {
						float: right;
					}
				}

				.dress1 {
					margin: .25rem 0 .25rem .1rem;
					height: .22rem;

					p {
						&:last-of-type {
							width: 5.1rem;
						}

						float: left;
					}
				}
			}

			a {
				display: block;
				width: .19rem;
				height: .26rem;
				float: right;
				margin-right: .2rem;
				margin-top: .3rem;
				background: url(../images/order/arrow.jpg) no-repeat;
				background-size: .19rem .26rem;
			}
		}
	}

	.con1 {
		font-size: .22rem;
		@include bg;
		margin-bottom: .12rem;

		.wrap {
			height: 3.61rem;
			padding: .22rem .3rem;
			box-sizing: border-box;

			.con11 {
				height: 1.02rem;
				margin-bottom: .36rem;

				img {
					width: 1.02rem;
					height: 1.02rem;
					float: left;
				}

				.word {
					float: left;
					margin-left: .3rem;

					p {
						margin: .24rem 0;

						&:last-of-type {
							color: #888;
						}
					}
				}

				.conPri {
					float: right;
					height: 1.02rem;
					line-height: 1.02rem;
					font-size: .3rem;
					color: #E23838;

					&::first-letter {
						font-size: .22rem;
					}
				}
			}

			.con12 {
				height: .66rem;
				margin-bottom: .36rem;

				p {
					float: left;
					margin: .22rem 0;
				}

				.amount {
					float: right;
					width: 2.88rem;
					height: .64rem;
					text-align: center;

					display: flex;
					justify-content: space-between;

					span {
						display: block;
						height: .64rem;
						line-height: .64rem;
						border-right: 1px solid #777;
						border-radius: .1rem;

						&:nth-of-type(2) {
							width: 1.17rem;
							border: .01rem solid #777
						}

						&:nth-of-type(2n+1) {
							width: .73rem;
							border: .01rem solid #777;
						}


					}
				}
			}

			.con13 {
				margin-top: .77rem;

				p {
					&:first-of-type {
						float: left;
					}

					&:last-of-type {
						float: right;
					}
				}
			}
		}
	}

	.con2 {
		@include bg;
		font-size: .22rem;
		margin-bottom: .12rem;

		.wrap {
			padding: 0 .3rem;
			box-sizing: border-box;

			div {
				height: 1.06rem;
				line-height: 1.06rem;
			}

			.con21 {
				border-bottom: 1px solid #777;

				p:first-of-type {
					float: left;
				}

				p:last-of-type {
					float: right;
				}
			}

			.con22 {
				text-align: center;
				height: 1.06rem;
				line-height: 1.06rem;

				.con22p1 {
					float: left;
					margin-right: 2.2rem;
					height: 1.06rem;
					line-height: 1.06rem;
				}

				label {
					float: left;
					display: inline-block;
					height: 1.06rem;
					line-height: 1.06rem;

					input:first-of-type {
						width: 1.4rem;
						height: .7rem;
						background-color: #eee;
						text-align: center;
						border-radius: .1rem;
						margin-right: .1rem;
						font-size: .22rem;
					}

					input:last-of-type {
						border-radius: .1rem;
						height: .7rem;
						width: .7rem;
						color: #fff;
						font-size: .22rem;
						background-color: #F46929;
					}

				}


				.con22p2 {
					float: right;
					margin: 0;

					span {
						color: red;
					}
				}

			}
		}
	}

	.con3 {
		@include bg;
		font-size: .22rem;

		.wrap {
			padding: .34rem 0;

			.con31 {
				display: flex;
				justify-content: space-between;

				p {
					margin-bottom: .2rem;

					&:last-of-type {
						margin: 0;
						color: red;
					}
				}
			}
		}
	}

	.con4 {
		@include bg;

		.wrap {
			p {
				height: .35rem;
				font-size: .35rem;
				float: right;
				margin: .53rem 0 .45rem 0;

				span {
					color: red;
				}
			}

		}
	}

	.con5 {
		@include bg;
		margin-bottom: 1.6rem;

		.wrap {
			button {
				font-size: .3rem;
				color: #fff;
			}

			text-align: center;
			width: 3.35rem;
			height: 1.12rem;
			border-radius: .1rem;
			background-color: #F46929;
			line-height: 1.12rem;
		}

	}

	.footer {
		position: fixed;
		bottom: 0;
		width: 7.5rem;

		.wrap {
			ul {
				li {
					&:first-of-type {
						p {
							color: #888;
						}
					}

					&:nth-of-type(2) {
						p {
							color: orangered;
						}
					}

					&:last-of-type {
						p {
							color: #888;
						}
					}
				}
			}
		}
	}
}
