@charset "UTF-8";
body {
  margin: 0;
  font: 12px/1 "Microsoft YaHei", Tahoma, Arial, Helvetica, sans-serif;
}

p,
dl,
dd,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul,
li,
ol {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  vertical-align: middle;
  outline: none;
  /* 去掉输入框点击时出现的轮廓框 */
}

a {
  text-decoration: none;
  color: #333333;
}

i,
em {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  margin: 0;
  font: 12px/1 "Microsoft YaHei", Tahoma, Arial, Helvetica, sans-serif;
}

p,
dl,
dd,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul,
li,
ol {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  vertical-align: middle;
  outline: none;
  /* 去掉输入框点击时出现的轮廓框 */
}

a {
  text-decoration: none;
  color: #333333;
}

i,
em {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  margin: 0 auto;
  /*导航栏部分*/
  /*尾部*/
}
body header {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  font-size: 15px;
  display: flex;
  align-items: center;
}
body header .hbox {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
body header .hbox .logo {
  background-image: url(../img/logo_it.jpg);
  background-position: 220px 32px;
  width: 220px;
  height: 32px;
  margin-right: 20px;
}
body header .hbox ul {
  color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .hbox ul li {
  margin: 0 12.5px;
  cursor: pointer;
}
body header .hbox ul li:hover {
  color: #ff6f35;
}
body header .hbox button {
  margin-left: 12px;
  margin-right: 50px;
  width: 79px;
  height: 31px;
  outline: none;
  border: 1px solid #ff451d;
  color: #ff451d;
  border-radius: 5px;
  cursor: pointer;
}
body header .hbox .search {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 150px;
  height: 24px;
  margin-right: 16px;
  border: 1px solid #666666;
  border-radius: 20px;
}
body header .hbox .search img {
  margin-left: 5px;
}
body header .hbox .search input {
  width: 110px;
  border: 1px solid #666666;
  height: 24px;
  margin-left: 11px;
}
body header .hbox .dlogin {
  width: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .hbox .scan {
  position: relative;
}
body header .hbox .scan:hover .scan1 {
  display: block;
}
body header .hbox .scan .scan1 {
  width: 187px;
  height: 208px;
  background-color: #eee;
  font-size: 14px;
  position: absolute;
  top: 37px;
  left: -91px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  display: none;
}
body header .hbox .scan .scan1:before {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #eee;
  position: absolute;
  top: -20px;
  left: 90px;
}
body header .hbox .scan .scan1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
body header .hbox .scan .scan1 p img {
  width: 69px;
  height: 69px;
}
body header .hbox .scan .scan1 p span {
  margin-left: 10px;
}
body .wrap {
  width: 1200px;
  margin: 0 auto;
}
body footer {
  background-color: #404144;
}
body footer .wrap {
  padding: 34px 0;
  background-color: #404144;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body footer .wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}
body footer .wrap ul li:hover {
  color: #ff712b;
  cursor: pointer;
}
body footer .wrap .middle {
  color: #b2b2b2;
}
body footer .wrap .bottom {
  color: #999;
}
body footer .wrap .bottom i:hover {
  color: #ff712b;
  cursor: pointer;
}

body {
  /*视频部分*/
  /*课程部分*/
}
body .container {
  background-color: #292929;
  margin: 0 auto;
}
body .container .title {
  background-color: #292929;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
body .container .title h2 {
  font-size: 14px;
  margin-right: 587px;
}
body .container .title .btn {
  font-size: 12px;
  width: 86px;
  height: 24px;
  border: 1px solid #ff451d;
  border-radius: 4px;
  color: #ff451d;
  line-height: 24px;
  text-align: center;
}
body .container .title a:last-of-type {
  color: white;
}
body .container .title a:last-of-type::before {
  content: ">";
}
body .container .live {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .container .live video {
  width: 860px;
  height: 485px;
  outline: none;
}
body .container .live .right {
  color: white;
}
body .container .live .right::before {
  content: ">";
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #292929;
  width: 12px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}
body .container .live .right li {
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #666;
}
body .container .live .right .top {
  width: 340px;
  height: 46px;
  background-color: #3f3f3f;
}
body .container .live .right .top p {
  width: 113px;
  height: 46px;
  background-color: #323232;
  color: #ccc;
  line-height: 46px;
  text-align: center;
  font-size: 14px;
}
body .container .live .right ul {
  height: 439px;
  overflow: overlay;
  background-color: #1f1f1f;
}
body .container .live .right ul::-webkit-scrollbar {
  width: 6px;
}
body .container .live .right ul::-webkit-scrollbar-track {
  background-color: transparent;
}
body .container .live .right ul::-webkit-scrollbar-thumb {
  background-color: #666666;
}
body .container .live .right ul::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}
body .container .live .right ul::-webkit-scrollbar-thumb:active {
  background-color: #666666;
}
body .container .live .right ul li {
  width: 340px;
  height: 43px;
  line-height: 43px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .container .live .right ul li a {
  color: #ccc;
  font-size: 12px;
}
body .container .function {
  background-color: #292929;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
body .container .function a {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #999999;
}
body .container .function a img {
  margin-right: 5px;
}
body .course {
  padding-bottom: 40px;
}
body .course .left {
  width: 860px;
  height: 432px;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
}
body .course .left h2 {
  font-size: 18px;
  height: 60px;
  line-height: 60px;
}
body .course .left .courseBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .course .left .courseBox .box {
  margin-bottom: 10px;
  width: 200px;
  height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid black;
  border-radius: 6px;
}
body .course .left .courseBox .box img {
  width: 200px;
  height: 112px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px black;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}
body .course .left .courseBox .box p {
  margin-left: 10px;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 14px;
}
body .course .left .courseBox .box p i {
  color: #ff6f35;
  margin: 0 5px;
}
body .course .left .courseBox .box p span {
  color: green;
}
body .course .right {
  float: right;
  width: 320px;
}
body .course .right > p {
  margin-top: 20px;
  width: 320px;
  height: 37px;
  font-size: 18px;
  line-height: 37px;
}
body .course .right .eva {
  height: 54px;
  line-height: 54px;
}
body .course .right .input {
  height: 60px;
  width: 300px;
}
body .course .right .input .word {
  width: 238px;
  height: 58px;
  border: 1px solid #999;
  display: inline-block;
}
body .course .right .input .word textarea {
  width: 236px;
  height: 38px;
  outline: none;
  border-radius: 10px;
}
body .course .right .input .word p {
  line-height: 20px;
  text-align: right;
  font-size: 14px;
}
body .course .right .input button {
  width: 60px;
  height: 60px;
  background-color: #ff712b;
  color: white;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  float: right;
}
body .course .right label {
  display: block;
  height: 38px;
  line-height: 38px;
  color: #999;
}
body .course .right label input {
  vertical-align: -2px;
  border: 1px solid #999;
}
body .course .right .outs {
  height: 365px;
  overflow: auto;
}
body .course .right .out {
  padding: 10px 0;
}
body .course .right .out img {
  width: 28px;
  height: 28px;
}
body .course .right .out .name {
  font-size: 16px;
  line-height: 28px;
  height: 28px;
}
body .course .right .out .word {
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  margin-left: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .course .right .out .follow {
  font-size: 12px;
  height: 18px;
  margin-left: 34px;
  line-height: 18px;
}
body .course .right .out .time {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}