.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.wrap {
  width: 1190px;
  margin: 0 auto;
}

.content {
  background-color: #eee;
}

@font-face {
  font-family: 'iconfont';
  /* project id 2148005 */
  src: url('//at.alicdn.com/t/font_2148005_ad5ko7ylqoj.eot');
  src: url('//at.alicdn.com/t/font_2148005_ad5ko7ylqoj.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2148005_ad5ko7ylqoj.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2148005_ad5ko7ylqoj.woff') format('woff'),
    url('//at.alicdn.com/t/font_2148005_ad5ko7ylqoj.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2148005_ad5ko7ylqoj.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


/* top */


.top {
  height: 34px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  line-height: 34px;
}


.top .wrap .left {
  float: left;
}

.top .wrap .right {
  float: right;
}

.top .wrap li {
  float: left;
  margin: 0 18px 0 0;
}

.top .wrap li a {
  color: #666;
}

.top .wrap li svg {
  color: rgb(201, 199, 199);
  vertical-align: middle;
}

.orange {
  color: #F26A2A;
}

.blue {
  color: #0091E3;
}

.top .wrap li .gouwuche {
  vertical-align: -4px;
  font-size: 16px;
}


.top .wrap li .zuobiao {
  vertical-align: -4px;
  font-size: 20px;
}

.top .wrap li .trangle {
  vertical-align: -4px;
  font-size: 16px;
}


/* header */

.bg .header {
  margin-top: 30px;
  height: 60px;
}

.bg .header h1 a {
  width: 205px;
  display: block;
  height: 45px;
  background: url(../images/cart_logo.jpg);
  float: left;
  margin-right: 164px;
}

.bg .header .searchBox1 {
  background-color: #F26A2A;
  width: 540px;
  height: 40px;
  float: left;
}

.bg .header .searchBox1 h2 {
  float: right;
  margin: 12px 41px;
  color: white;
}

.bg .header .searchBox1 .searchBox2 {
  width: 418px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #F26A2A;
  background-color: #fff;
}

.bg .header .searchBox1 .searchBox2 i svg {
  font-size: 16px;
  margin: 12px 8px 12px 10px;
  color: #666;
}

.bg .header .searchBox1 .searchBox2 input {
  float: right;
  border: none;
  height: 36px;
  line-height: 36px;
  width: 380px;
}

.bg .header .searchBox1 .searchList {
  margin-top: 9px;
}

.bg .header .searchBox1 .searchList ul li {
  float: left;
  color: #666;
}

.bg .header .searchBox1 .searchList ul li span {
  margin: 0 9px;
}

.bg .header .searchBox1 .searchList ul .orange {
  color: #F26A2A;
}

.bg .header .searchBox1 .searchList ul .orange span {
  color: #666;
}





/* classify */

.bg .classify {
  margin-top: 19px;
  height: 38px;
}

.bg .classify .classLeft {
  width: 190px;
  height: 38px;
  float: left;
  background-color: #F26A2A;
  margin-right: 22px;
}

.bg .classify .classLeft i {
  width: 12px;
  height: 10px;
  float: left;
  background: url(../images/sprite1.png) no-repeat 0 0;
  margin: 14px 6px 14px 9px;
}

.bg .classify .classLeft p {
  float: left;
  color: white;
  margin: 13px 0;
  font-weight: bold;
}

.bg .classify .classList ul {
  height: 38px;
}

.bg .classify .classList ul li {
  float: left;
  margin: 13px 26px 13px 0;
  font-weight: bold;
}


/* slide */

.bg .slide {
  height: 482px;
}

.bg .slide .slideListBg {
  width: 1190px;
  margin: 0 auto;
}

.bg .slide .slideList {
  width: 190px;
  float: left;
  height: 482px;
  background-color: rgba(48, 47, 47, 0.6);
}

.bg .slide .slideList ul {
  margin: 17px 0 10px 10px;
}

.bg .slide .slideList ul li {
  margin-bottom: 20px;
}

.bg .slide .slideList ul li a {
  color: white;
}

.bg .slide .slideList ul li a span {
  color: #666;
  margin: 0 8px;
}

.bg .slide .slideBg {
  background-color: #F63451;
}

.bg .slide .slideBg .slideImg {
  width: 1190px;
  background: url(../images/banner.jpg);
  height: 482px;
  margin: 0 auto;
}

.bg .slide .slideBg .slideImg .leftGo {
  float: left;
  font-size: 40px;
  margin: 201px 0;
  cursor: pointer;
}

.bg .slide .slideBg .slideImg .rightGo {
  margin: 201px 0;
  font-size: 40px;
  float: right;
  cursor: pointer;
}

.bg .slide .slideBg .slideImg .dot {
  width: 1000px;
  height: 18px;
  text-align: center;
  display: inline-block;
}

.bg .slide .slideBg .slideImg .dot span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  margin: 0 5px;
  display: inline-block;
}

.bg .slide .slideBg .slideImg .dot span:nth-of-type(7) {
  background-color: orange;
}


/* contentone */

.bg .cotent {
  background-color: #eee;
}

.bg .contentOne {
  overflow: hidden;
}

.bg .contentOne .wrap {
  height: 330px;
}


.bg .contentOne .conOleft {
  width: 790px;
  height: 330px;
  margin-right: 10px;

  float: left;
  background-color: #fff;
}

.bg .contentOne .conOleft .conOLtop {
  height: 46px;
  padding: 10px 20px 0 20px;
  box-sizing: border-box;
}

.bg .contentOne .conOleft .conOLtop .pic {
  float: left;
  width: 91px;
  height: 23px;
  background: url(../images/Limited-time.jpg);
  background-size: contain;
}

.bg .contentOne .conOleft .conOLtop>p {
  float: left;
  font-size: 16px;
  margin: 5px 20px 0 20px;
}

.bg .contentOne .conOleft .conOLtop .time {
  float: left;
}

.bg .contentOne .conOleft .conOLtop .time p {
  float: left;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 6px;
  margin: 0 5px 0 0;
  color: #fff;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}

.bg .contentOne .conOleft .conOLtop .crazy {
  float: right;
  width: 133px;
  height: 24px;
  background: linear-gradient(to right, orange, red);
  border-radius: 20px;
  line-height: 24px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.bg .contentOne .conOleft .conOLtop .time+p {
  float: right;
}


.bg .contentOne .conOleft .conOLbottom {
  height: 284px;
  overflow: hidden;
}

.bg .contentOne .conOleft .conOLbottom ul {
  margin: 0 20px;
  height: 284px;
  background-color: #fff;
  float: left;
  color: #666;
}

.bg .contentOne .conOleft .conOLbottom ul li {
  width: 187.5px;
  float: left;
  text-align: center;
}

.bg .contentOne .conOleft .conOLbottom ul li .pic {
  height: 206px;
  width: 185px;
  margin: 0 auto;
  background: url(../images/time1.jpg) no-repeat;
}

.bg .contentOne .conOleft .conOLbottom ul li .pic1 {
  height: 206px;
  width: 185px;
  margin: 0 auto;
  background: url(../images/con.jpg) no-repeat;
}

.bg .contentOne .conOleft .conOLbottom ul li .pic2 {
  height: 206px;
  width: 185px;
  margin: 0 auto;
  background: url(../images/time2.jpg) no-repeat;
}

.bg .contentOne .conOleft .conOLbottom ul li .pic3 {
  height: 206px;
  width: 185px;
  margin: 0 auto;
  background: url(../images/time3.jpg) no-repeat;
}

.bg .contentOne .conOleft .conOLbottom ul li h2 {
  font-size: 13px;
  margin: 6px 13px 0 15px;
}

.bg .contentOne .conOleft .conOLbottom ul li>p {
  font-size: 18px;
  color: #F26A2A;
  text-align: left;
  margin: 13px 0 11px 18px;
}

.bg .contentOne .conOleft .conOLbottom ul li p del {
  font-size: 13px;
  color: #666;
}

.bg .contentOne .conOleft .conOLbottom ul li .per {
  margin: 5px 0 0 18px;

}

.bg .contentOne .conOleft .conOLbottom ul li .per .per2 {
  width: 64px;
  height: 4px;
  float: left;
  background-color: #FBE6EC;
}

.bg .contentOne .conOleft .conOLbottom ul li .per .per1 {
  width: 36px;
  height: 4px;
  float: left;
  background-color: #F26A2A;
}

.bg .contentOne .conOleft .conOLbottom ul li .per p {
  margin-bottom: 18px;
  margin-top: -4px;
  float: right;
}

.bg .contentOne .conOright {
  height: 330px;
  width: 390px;
  float: right;
  background-color: #fff;
}

.bg .contentOne .conOright .conORtop {
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #BABABA;
  margin: 4px 15px;
  box-sizing: border-box;
}

.bg .contentOne .conOright .conORtop h1 {
  float: left;
}

.bg .contentOne .conOright .conORtop p {
  float: right;
  font-size: 16px;
  color: #BABABA;
}

.bg .contentOne .conOright .conORtop p::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: -2px;
  margin: 0 5px;
  background: url(../images/sprite1.png) -561px -36px;
  cursor: pointer;
}

.bg .contentOne .conOright .conORbottom {
  padding: 12px 20px;
  height: 284px;
  overflow: hidden;
}

.bg .contentOne .conOright .conORbottom .box1 {
  background: url(../images/san1.jpg);
  width: 350px;
  height: 175px;
  margin-bottom: 12px;
}

.bg .contentOne .conOright .conORbottom .box2 {
  background: url(../images/san2.jpg);
  width: 108px;
  height: 70px;
  display: inline-block;
  margin: 0 9px 0 0;
}

.bg .contentOne .conOright .conORbottom .box3 {
  background: url(../images/san3.jpg);
  width: 108px;
  height: 70px;
  display: inline-block;
  margin: 0 9px 0 0;
}

.bg .contentOne .conOright .conORbottom .box4 {
  background: url(../images/san4.jpg);
  width: 108px;
  height: 70px;
  display: inline-block;
}

/* contentTwo */

.bg .contentTwo .wrap {
  margin-top: 20px;
  height: 426px;
}

.bg .contentTwo .wrap .left {
  width: 390px;
  height: 426px;
  margin-right: 10px;
  float: left;
  background-color: white;
  position: relative;
}

.bg .contentTwo .wrap .left .twoTop {
  height: 44px;
  background-color: #FCF6F6;
}

.bg .contentTwo .wrap .left .twoTop h2 {
  font-size: 18px;
  color: #E34440;
  float: left;
  line-height: 44px;
}

.bg .contentTwo .wrap .left .twoTop h2::before {
  content: "";
  width: 5px;
  height: 20px;
  line-height: 44px;
  background-color: #E34440;
  float: left;
  margin: 12px 14px 0 0;

}

.bg .contentTwo .wrap .left .twoTop p {
  float: right;
  margin: 0 10px;
  height: 44px;
  line-height: 44px;
  color: #BABABA;
}

.bg .contentTwo .wrap .left .twoTop p::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: -3px;
  margin: 0 5px;
  background: url(../images/sprite1.png) -561px -36px;
  cursor: pointer;
}

.bg .contentTwo .wrap .left .center {
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  height: 38px;
  line-height: 38px;
}

.bg .contentTwo .wrap .left .center li {
  display: inline-block;
  font-size: 14px;
  margin-right: 35px;
}

.bg .contentTwo .wrap .left .center li:nth-of-type(1) {
  margin-left: 15px;
  padding: 5px 10px;
  line-height: 14px;
  border-radius: 20px;
  background-color: #E95F63;
  color: white;
}

.bg .contentTwo .wrap .left .bottom li {
  height: 85px;
  margin: 0 0 25px 25px;
}

.bg .contentTwo .wrap .left .bottom li:first-child {
  margin-top: 13px;
}

.bg .contentTwo .wrap .left .bottom .pic1 {
  background: url(../images/three1.jpg) no-repeat;
  height: 85px;
  width: 77px;
  float: left;
}

.bg .contentTwo .wrap .left .bottom .pic2 {
  background: url(../images/three2.jpg) no-repeat;
  height: 85px;
  width: 77px;
  float: left;
  margin-left: 15px;
}

.bg .contentTwo .wrap .left .bottom .pic3 {
  background: url(../images/three3.jpg) no-repeat;
  height: 85px;
  width: 80px;
  float: left;
}

.bg .contentTwo .wrap .left .bottom li p {
  margin-left: 100px;
  width: 240px;
  line-height: 20px;
  height: 20px;
  /* background-color: #eee; */
}

.bg .contentTwo .wrap .left .bottom li .two {
  margin-top: 35px;
}

.bg .contentTwo .wrap .left .bottom li .two i {
  color: #F26A2A;
  font-size: 16px;
}

.bg .contentTwo .wrap .left .bottom li .two span {
  float: right;
  color: #E44F5C;
  background-color: #F5D3E0;
  padding: 5px 10px;
  border-radius: 20px;
  margin: -5px 0 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bg .contentTwo .wrap .left .dot {
  text-align: center;
}

.bg .contentTwo .wrap .left .dot span {
  display: inline-block;
  width: 12px;
  height: 6px;
  border-radius: 5px;
  background-color: #777;
  position: absolute;
  top: 410px;
  left: 190px;
}

.bg .contentTwo .wrap .left .dot span:first-of-type {
  margin: 0 20px 0;
  background-color: #F26A2A;
}



.bg .contentTwo .wrap .right {
  width: 790px;
  height: 426px;
  float: right;
  background-color: white;
}



.bg .contentTwo .wrap .right .twoTop {
  height: 44px;
  background-color: #FCF6F6;
}

.bg .contentTwo .wrap .right .twoTop h2 {
  font-size: 18px;
  color: #49B3D8;
  float: left;
  line-height: 44px;
}

.bg .contentTwo .wrap .right .twoTop h2::before {
  content: "";
  width: 5px;
  height: 20px;
  line-height: 44px;
  background-color: #49B3D8;
  float: left;
  margin: 12px 14px 0 0;
}

.bg .contentTwo .wrap .right .twoTop p {
  float: right;
  margin: 0 10px;
  height: 44px;
  line-height: 44px;
  color: #BABABA;
}

.bg .contentTwo .wrap .right .twoTop p::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: -3px;
  margin: 0 5px;
  background: url(../images/sprite1.png) -561px -36px;
  cursor: pointer;
}

.bg .contentTwo .wrap .right .rightBox {
  width: 768px;
  height: 365px;
  margin: 6px auto;
  text-align: center;
}


.bg .contentTwo .wrap .right .rightBox td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.bg .contentTwo .wrap .right .rightBox tr:nth-of-type(2) td {
  border-bottom: none;
}

.bg .contentTwo .wrap .right .rightBox p:first-of-type {
  font-size: 16px;
}

.bg .contentTwo .wrap .right .rightBox p:nth-of-type(2) {
  margin: 12px 0 0 0;
}

.bg .contentTwo .wrap .right .rightBox .last {
  border-right: none;
}

.bg .contentThree .wrap {
  font-size: 0;
  margin-top: 20px;
}

.bg .contentThree .wrap div {
  display: inline-block;
  /* height: 100px; */
  width: 396px;
}

.bg .contentThree .wrap div img {
  float: right;
}

.bg .contentThree .wrap div:nth-of-type(1) {
  background-color: #F8EDD2;
}

.bg .contentThree .wrap div:nth-of-type(2) {
  background-color: #D3F0F3;
}

.bg .contentThree .wrap div:nth-of-type(3) {
  background-color: #DBD2E3;
}

.bg .contentThree .wrap div .word {
  float: left;
  width: 150px;
  margin: 28px 0 0 26px;
  background-color: transparent;
  text-align: left;
  font-weight: bold;
}

.bg .contentThree .wrap div .word p:nth-of-type(2) {
  width: 200px;
  margin: 13px 0 0 0;
  font-weight: normal;
}

.bg .contentThree .wrap div p {
  font-size: 18px;
}

.bg .contentThree .wrap div p:nth-of-type(2) {
  font-size: 16px;
}

.bg .contentFour {
  height: 260px;
}

.bg .contentFour .wrap {
  margin-top: 20px;
  width: 1190px;
}

.bg .contentFour .wrap .left {
  width: 190px;
  height: 260px;
  background: url(../images/four9.jpg);
  margin-right: 10px;
  float: left;
}

.bg .contentFour .wrap .right {
  height: 260px;
  background-color: white;
  float: right;
  width: 990px;

}

.bg .contentFour .wrap .right div {
  margin: 0 10px;
  font-size: 14px;
  height: 260px;
  float: left;
}

.bg .contentFour .wrap .right div p {
  width: 140px;
  margin: 0 auto;
  text-align: center;

  white-space: nowrap;
  /* 文本不换行 */
  overflow: hidden;
  /* 盒子内容溢出隐藏 */
  text-overflow: ellipsis;
  /* 文本溢出显示省略号 */
}

.bg .contentFour .wrap .right div:nth-of-type(1) p,
.bg .contentFour .wrap .right div:nth-of-type(3) p,
.bg .contentFour .wrap .right div:nth-of-type(5) p {
  padding: 50px 0 0 0;
}

.bg .contentFour .wrap .right .nav {
  width: 960px;
  height: 3px;
  background-color: #eee;
  margin-top: -20px;
}

.bg .contentFour .wrap .right .nav .navbold {
  width: 100px;
  height: 9px;
  background-color: #eee;
  margin: -3px 0 0 0;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.bg .contentFour .wrap .right div p:nth-of-type(3) {
  margin: 10px 0 0 0;
}



/* five left */
.bg .contentFive .wrap {
  margin-top: 20px;
}

.bg .contentFive .wrap .bottom {
  margin-top: 0;
}

.bg .contentFive .wrap .left {
  width: 590px;
  height: 406px;
  float: left;
}

.bg .contentFive .wrap .left .top {
  height: 46px;
  margin: 0;
  padding: 0;
  line-height: 46px;
}

.bg .contentFive .wrap .left .top h2 {
  float: left;
  color: #9C648E;
}

.bg .contentFive .wrap .left .top h2::before {
  content: "";
  width: 5px;
  height: 20px;
  line-height: 44px;
  background-color: #9C648E;
  float: left;
  margin: 12px 14px 0 0;
}

.bg .contentFive .wrap .left .top h2::after {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e668";
  margin: 0 0 0 4px;
}

.bg .contentFive .wrap .left .top ul {
  float: right;
  font-size: 16px;
}

.bg .contentFive .wrap .left .top ul li {
  float: left;
  margin: 0 21px 0 0;
}

.bg .contentFive .wrap .left .bottom {
  height: 360px;
  overflow: hidden;
}

.bg .contentFive .wrap .left .bottom a {
  float: left;
}

.bg .contentFive .wrap .left .bottom .bottomR {
  float: right;
  background-color: white;
  width: 400px;
}

.bg .contentFive .wrap .left .bottom .bottomR div {
  float: left;
  width: 200px;
  height: 188px;
  text-align: center;
}

.bg .contentFive .wrap .left .bottom .bottomR div h2 {
  font-size: 16px;
  margin-top: 15px;
}

.bg .contentFive .wrap .left .bottom .bottomR div p {
  font-size: 14px;
  margin: 6px 0;
  color: #9C648E;
}


/* five right */

.bg .contentFive .wrap .right {
  width: 590px;
  height: 406px;
  float: right;
}

.bg .contentFive .wrap .right .top {
  height: 46px;
  margin: 0;
  padding: 0;
  line-height: 46px;
}

.bg .contentFive .wrap .right .top h2 {
  float: left;
  color: #9C648E;
}

.bg .contentFive .wrap .right .top h2::before {
  content: "";
  width: 5px;
  height: 20px;
  line-height: 44px;
  background-color: #9C648E;
  float: left;
  margin: 12px 14px 0 0;
}

.bg .contentFive .wrap .right .top h2::after {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e668";
  margin: 0 0 0 4px;
}

.bg .contentFive .wrap .right .top ul {
  float: right;
  font-size: 16px;
}

.bg .contentFive .wrap .right .top ul li {
  float: left;
  margin: 0 21px 0 0;
}

.bg .contentFive .wrap .right .bottom {
  height: 360px;
  overflow: hidden;
}

.bg .contentFive .wrap .right .bottom a {
  float: left;
}

.bg .contentFive .wrap .right .bottom .bottomL {
  float: right;
  background-color: white;
  width: 400px;
}

.bg .contentFive .wrap .right .bottom .bottomL div {
  float: left;
  width: 200px;
  height: 188px;
  text-align: center;
}

.bg .contentFive .wrap .right .bottom .bottomL div h2 {
  font-size: 16px;
  margin-top: 15px;
}

.bg .contentFive .wrap .right .bottom .bottomL div p {
  font-size: 14px;
  margin: 6px 0;
  color: #9C648E;
}

.bg .contentFive {
  height: 406px;
}

/* six left */

.bg .contentSix {
  height: 406px;
  margin-top: 20px;
}

.bg .contentSix .wrap .bottom {
  margin-top: 0;
}

.bg .contentSix .wrap .left {
  width: 590px;
  height: 406px;
  float: left;
}

.bg .contentSix .wrap .left .top {
  height: 46px;
  margin: 0;
  padding: 0;
  line-height: 46px;
}

.bg .contentSix .wrap .left .top h2 {
  float: left;
  color: #FA9842;
}

.bg .contentSix .wrap .left .top h2::before {
  content: "";
  width: 5px;
  height: 20px;
  line-height: 44px;
  background-color: #FA9842;
  float: left;
  margin: 12px 14px 0 0;
}

.bg .contentSix .wrap .left .top h2::after {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e668";
  margin: 0 0 0 4px;
}

.bg .contentSix .wrap .left .top ul {
  float: right;
  font-size: 16px;
}

.bg .contentSix .wrap .left .top ul li {
  float: left;
  margin: 0 21px 0 0;
}

.bg .contentSix .wrap .left .bottom {
  height: 360px;
  overflow: hidden;
}

.bg .contentSix .wrap .left .bottom a {
  float: left;
}

.bg .contentSix .wrap .left .bottom .bottomR {
  float: right;
  background-color: white;
  width: 400px;
}

.bg .contentSix .wrap .left .bottom .bottomR div {
  float: left;
  width: 200px;
  height: 188px;
  text-align: center;
}

.bg .contentSix .wrap .left .bottom .bottomR div h2 {
  font-size: 16px;
  margin-top: 15px;
}

.bg .contentSix .wrap .left .bottom .bottomR div p {
  font-size: 14px;
  margin: 6px 0;
  color: #FA9842;
}


/* five right */



.bg .contentSix .wrap .right {
  width: 590px;
  height: 406px;
  float: right;
}

.bg .contentSix .wrap .right .top {
  height: 46px;
  margin: 0;
  padding: 0;
  line-height: 46px;
}

.bg .contentSix .wrap .right .top h2 {
  float: left;
  color: #FA9842;
}

.bg .contentSix .wrap .right .top h2::before {
  content: "";
  width: 5px;
  height: 20px;
  line-height: 44px;
  background-color: #FA9842;
  float: left;
  margin: 12px 14px 0 0;
}

.bg .contentSix .wrap .right .top h2::after {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e668";
  margin: 0 0 0 4px;
}

.bg .contentSix .wrap .right .top ul {
  float: right;
  font-size: 16px;
}

.bg .contentSix .wrap .right .top ul li {
  float: left;
  margin: 0 21px 0 0;
}

.bg .contentSix .wrap .right .bottom {
  height: 360px;
  overflow: hidden;
}

.bg .contentSix .wrap .right .bottom a {
  float: left;
}

.bg .contentSix .wrap .right .bottom .bottomR {
  float: right;
  background-color: white;
  width: 400px;
  padding-top: 15px;
}

.bg .contentSix .wrap .right .bottom .bottomR div {
  float: left;
  width: 200px;
  height: 188px;
  text-align: center;
}

.bg .contentSix .wrap .right .bottom .bottomL div h2 {
  font-size: 16px;
  margin-top: 15px;
}

.bg .contentSix .wrap .right .bottom .bottomR div p {
  font-size: 14px;
  margin: 6px 0;
  color: #F03D19;
}



.contentEig .wrap {
  margin-top: 20px;
  height: 1030px;
  overflow: hidden;
  background-color: #fff;
}

.contentEig .wrap>div {
  width: 200px;
  height: 302px;
  float: left;
  background-color: white;
  margin: 20px 47px 18px 0;

}

.contentEig .wrap>div:nth-of-type(5),
.contentEig .wrap>div:nth-of-type(10),
.contentEig .wrap>div:nth-of-type(15) {
  margin: 20px 0 18px 0;
}

.contentEig .wrap div>.word {
  margin-top: 20px;
  line-height: 1.5em;
}

.contentEig .wrap div>.word>p {
  height: 36px;
}

.contentEig .wrap div>.word>p span {
  padding: 2px 3px;
  background: linear-gradient(to right, orange, orangered);
  color: white;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.contentEig .wrap div>.word>div:first-of-type {
  margin-top: 8px;
}

.contentEig .wrap div>.word .pri {
  color: #F03D19;
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.contentEig .wrap div>.word .pri:before {
  content: "￥";
  color: #F03D19;
  font-size: 12px;
}

.contentEig .wrap div>.word>div:first-of-type i {
  float: right;
  border: 1px solid #F03D19;
  color: #F03D19;
  padding: 2px;
  border-radius: 4px;
  margin-top: -4px;
}

.contentEig .wrap div>.word>div:last-of-type {
  margin-top: 8px;
}

.contentEig .wrap div>.word>div:last-of-type p:first-of-type {
  border: 1px solid #F03D19;
  color: white;
  background-color: #F03D19;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0 0 0 2px;
}

.contentEig .wrap div>.word>div:last-of-type p:first-of-type span {
  color: #F03D19;
  background-color: #fff;
  padding: 1px 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.contentEig .wrap div>.word>div:last-of-type p {
  float: left;
}

.contentEig .wrap div>.word>div:last-of-type .orangeBg {
  color: white;
  background-color: #F03D19;
  padding: 1px 2px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-left: 5px;
}

.bg .end {
  height: 63px;
  background-color: #eee;
  text-align: center;
  font-size: 16px;
  color: #666;
  padding-top: 10px;
}

.bg .end p {
  border-bottom: 2px solid #666;
  width: 300px;
  margin: 0 auto;
}


.bg .end p span {
  position: relative;
  top: 8px;
  padding: 0 10px;
  background-color: #eee;
}

.bg .foot {
  height: 340px;
  background-color: #333333;
  color: #BBBBBB;
}

.bg .foot .list {
  text-align: center;
}

.bg .foot .list ul {
  display: inline-block;
  margin-left: 108px;
  margin-top: 30px;
  vertical-align: top;
}

.bg .foot .list ul li {
  margin-bottom: 18px;
  font-size: 14px;
}

.bg .foot .list ul li:first-of-type {
  font-size: 20px;
  margin-bottom: 23px;
}

.bg .bottom {
  text-align: center;
  margin-top: 50px;
  line-height: 2em;
}