@import "reset.scss", "common.scss";

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.register {
		height: 100%;
		.wrap {
			width: 1000px;
			// padding: 0 0 calc(100vh - 248px - 278px) 0;
			display: flex;
			justify-content: space-between;
			.left {
				margin-top: 100px;
				width: 529px;
				font-size: 14px;
				border-right: 1px solid #aaa;
				div {
					display: flex;
					align-items: center;
				}
				label {
					display: inline-block;
					width: 80px;
					text-align: right;
				}
				input {
					width: 260px;
					height: 30px;
					border: 1px solid #999;
					padding: 0 5px;
					box-sizing: border-box;
				}
				span {
					font-size: 12px;
					color: $orange;
					display: none;
					margin-left: 10px;
				}
				i {
					font-size: 12px;
					color: #999;
					display: none;
					margin-left: 10px;
				}
				svg {
					display: none;
					margin-left: 10px;
				}
				.vcode {
					position: relative;
					img {
						position: absolute;
						left: 288px;
						top: 7px;
						width: 50px;
						cursor: pointer;
					}
				}
				.pcode {
					position: relative;
					em {
						position: absolute;
						left: 280px;
						top: 8px;
						cursor: pointer;
						&:hover {
							color: $orange;
						}
					}
				}
				button {
					background-color: $orange;
					border: none;
					outline: none;
					width: 260px;
					height: 42px;
					color: white;
					line-height: 42px;
					margin-left: 84px;
					margin-bottom: 20px;
					font-size: 14px;
				}
				div {
					margin-bottom: 20px;
				}
				p {
					width: 338px;
					height: 17px;
					line-height: 17px;
					display: flex;
					justify-content: flex-end;
					span {
						font-size: 14px;
						margin-left: 10px;
					}
				}
			}
			.right {
				margin-top: 100px;
				p {
					height: 35px;
					line-height: 35px;
					font-size: 14px;
					color: #999;
					&:first-of-type {
						font-size: 16px;
						color: #333;
					}
				}
			}
		}
	}
}
