@import "reset";

$color_red: #EA957E;
html {
	width: 100%;
}

header {
	width: 100%;
	//display: flex;
	//justify-content: space-between;
	//align-items: center;
	background-color: #fff;
	position: relative;

	h1 {
		float: left;
		font-size: 18px;
		color: #fff;
		line-height: 50px;
		background-color: $color_red;
		width: 18%;
		text-align: center;
	}

	.sel {
		width: 35px;
		height: 35px;
		position: absolute;
		top: 10px;
		left: 10px;
		//background-color: black;
		display: none;

		a {
			i {
				font-size: 30px;
			}
		}
	}

	.right {
		padding: 10px;
		float: right;

		a {
			font-size: 16px;
			margin-right: 10px;

			img {
				border-radius: 5px;
				width: 30px;
				height: 30px;
				margin-right: 5px;
			}

			i {
				color: $color_red;
				font-size: 20px;
				vertical-align: middle;
				margin-right: 5px;

			}
		}
	}
}

.main {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.menu {
		float: left;
		width: 18%;

		.parent-menu {
			line-height: 30px;
			margin-left: 10px;

			.active {
				h3 {
					a {
						color: $color_red;
					}

					i {
						margin-right: 5px;
					}
				}

				.child-menu {
					margin: 0 0 0 20px;

					li {
						a {
							i {
								padding: 0 5px;
							}
						}

						line-height: 30px;

						&:hover {
							background-color: $color_red;

							a {
								color: #fff;
							}
						}
					}
				}

			}

			li {
				h3 {
					i {
						margin-right: 5px;
					}
				}
			}

		}
	}

	.content {
		width: 82%;
		background-color: #eee;
		float: right;

		.top {
			display: flex;
			justify-content: space-between;
			line-height: 30px;
			font-size: 10px;
			padding: 0 10px;
			color: $color_red;
			border-bottom: 1px solid #aaa;
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			section {
				width: 23%;
				margin: 1% 1%;
				height: 130px;
				background-color: $color_red;
				color: #fff;
				border-radius: 10px;
				overflow: hidden;

				.word {

					height: 70%;
					margin: 20px 15px -20px 15px;
					box-sizing: border-box;

					h2 {
						margin: 0 0 15px 0;
						font-size: 26px;
						box-sizing: border-box;
					}
				}

				.tro {
					position: relative;
					height: 30%;
					background-color: #D28671;

					a {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
						color: #fff;
					}
				}
			}
		}
	}
}

/* 中屏幕：992px ~ 1200px */
@media screen and (max-width: 1200px) {
	.main {
		.menu {

		}

		.content {
			.top {
				.left {

				}
			}

			.bottom {
				section {
				}
			}
		}
	}
}

/* 小屏幕：768px ~ 992ox */
@media screen and(max-width: 992px) {
	header {
		h1 {
			font-size: 14px;
		}

		.right {
			a:last-of-type {
				display: none;
			}
		}
	}
	.main {
		.menu {

		}

		.content {
			.top {
				.left {

				}
			}

			.bottom {
				section {
					width: 48%;
				}
			}
		}
	}

}

/* 超小屏幕：< 768px */
@media screen and(max-width: 768px) {
	header {
		h1 {
			display: none;
		}

		.sel {
			display: block;
		}

		.right {
			a:last-of-type {
				display: none;
			}
		}
	}
	.main {
		.menu {
			display: none;
		}

		.content {
			width: 100%;

			.top {
				.left {

				}
			}

			.bottom {
				section {
					width: 98%;
				}
			}
		}
	}

}