@import "reset";

$color_red: #EA957E;
html {
	width: 100%;
}

header {
	width: 100%;
	background-color: #fff;
	position: relative;

	h1 {
		float: left;
		font-size: 18px;
		color: #fff;
		line-height: 50px;
		background-color: $color_red;
		width: 18%;
		text-align: center;
	}

	.sel {
		width: 35px;
		height: 35px;
		position: absolute;
		top: 10px;
		left: 10px;
		display: none;

		a {
			i {
				font-size: 30px;
			}
		}
	}

	.right {
		padding: 10px;
		float: right;

		a {
			font-size: 16px;
			margin-right: 10px;

			img {
				border-radius: 5px;
				width: 30px;
				height: 30px;
				margin-right: 5px;
			}

			i {
				color: $color_red;
				font-size: 20px;
				vertical-align: middle;
				margin-right: 5px;

			}
		}
	}
}

.main {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.menu {
		float: left;
		width: 18%;

		.parent-menu {
			line-height: 30px;
			margin-left: 10px;

			.active {
				h3 {
					a {
						color: $color_red;
					}

					i {
						margin-right: 5px;
					}
				}

				.child-menu {
					margin: 0 0 0 20px;

					li {
						a {
							i {
								padding: 0 5px;
							}
						}

						line-height: 30px;

						&:hover {
							background-color: $color_red;

							a {
								color: #fff;
							}
						}
					}
				}

			}

			li {
				h3 {
					i {
						margin-right: 5px;
					}
				}
			}

		}
	}

	.content {
		width: 82%;
		float: right;
		//padding: 0 20px;

		.top {
			background-color: #eee;
			padding: 0 20px;
			display: flex;
			justify-content: space-between;
			line-height: 30px;
			font-size: 10px;
			color: $color_red;
			border-bottom: 1px solid #aaa;
		}

		.add {
			padding: 0 20px;
			background-color: #fff;
			display: flex;
			line-height: 40px;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #999999;
			//padding-bottom: 10px;
			margin-bottom: 10px;

			.left {
				display: flex;
				justify-content: space-between;
				align-items: center;

				input {
					border: 1px solid #aaa;
					padding: 0 5px;
					background-color: #eee;
				}
			}

			.right {
				label {
					span {
						font-size: 16px;
					}

					input {
						background-color: #fff;
						border: 1px solid #777;
					}
				}

				input {
					border: 1px solid #aaa;
					padding: 0 5px;
					background-color: #eee;
				}
			}
		}

		.bottom {
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 0 20px;

			table {
				width: 100%;

				td, th {
					border: 1px solid #999999;
					height: 30px;
					text-align: center;
				}
			}
		}
	}
}


/* 小屏幕：768px ~ 992ox */
@media screen and(max-width: 992px) {
	header {
		h1 {
			font-size: 14px;
		}

		.right {
			a:last-of-type {
				display: none;
			}
		}
	}

	.bottom {

	}
}


/* 超小屏幕：< 768px */
@media screen and(max-width: 768px) {
	header {
		h1 {
			display: none;
		}

		.sel {
			display: block;
		}

		.right {
			a:last-of-type {
				display: none;
			}
		}
	}
	.main {
		.menu {
			display: none;
		}

		.content {
			width: 100%;

			.bottom {

			}
		}
	}
}