@charset "UTF-8";
body {
  margin: 0;
  font: 12px/1 "Microsoft YaHei", Tahoma, Arial, Helvetica, sans-serif;
}

p,
dl,
dd,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul,
li,
ol {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  vertical-align: middle;
  outline: none;
  /* 去掉输入框点击时出现的轮廓框 */
  border: none;
}

a {
  text-decoration: none;
  color: #333333;
}

i,
em {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html {
  width: 100%;
}

header {
  width: 100%;
  background-color: #fff;
  position: relative;
}

header h1 {
  float: left;
  font-size: 18px;
  color: #fff;
  line-height: 50px;
  background-color: #EA957E;
  width: 18%;
  text-align: center;
}

header .sel {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

header .sel a i {
  font-size: 30px;
}

header .right {
  padding: 10px;
  float: right;
}

header .right a {
  font-size: 16px;
  margin-right: 10px;
}

header .right a img {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

header .right a i {
  color: #EA957E;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .menu {
  float: left;
  width: 18%;
}

.main .menu .parent-menu {
  line-height: 30px;
  margin-left: 10px;
}

.main .menu .parent-menu .active h3 a {
  color: #EA957E;
}

.main .menu .parent-menu .active h3 i {
  margin-right: 5px;
}

.main .menu .parent-menu .active .child-menu {
  margin: 0 0 0 20px;
}

.main .menu .parent-menu .active .child-menu li {
  line-height: 30px;
}

.main .menu .parent-menu .active .child-menu li a i {
  padding: 0 5px;
}

.main .menu .parent-menu .active .child-menu li:hover {
  background-color: #EA957E;
}

.main .menu .parent-menu .active .child-menu li:hover a {
  color: #fff;
}

.main .menu .parent-menu li h3 i {
  margin-right: 5px;
}

.main .content {
  width: 82%;
  float: right;
}

.main .content .top {
  background-color: #eee;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 30px;
  font-size: 10px;
  color: #EA957E;
  border-bottom: 1px solid #aaa;
}

.main .content .add {
  padding: 0 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #999999;
  margin-bottom: 10px;
}

.main .content .add .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content .add .left input {
  border: 1px solid #aaa;
  padding: 0 5px;
  background-color: #eee;
}

.main .content .add .right label span {
  font-size: 16px;
}

.main .content .add .right label input {
  background-color: #fff;
  border: 1px solid #777;
}

.main .content .add .right input {
  border: 1px solid #aaa;
  padding: 0 5px;
  background-color: #eee;
}

.main .content .bottom {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.main .content .bottom table {
  width: 100%;
}

.main .content .bottom table td, .main .content .bottom table th {
  border: 1px solid #999999;
  height: 30px;
  text-align: center;
}

/* 小屏幕：768px ~ 992ox */
@media screen and (max-width: 992px) {
  header h1 {
    font-size: 14px;
  }
  header .right a:last-of-type {
    display: none;
  }
}

/* 超小屏幕：< 768px */
@media screen and (max-width: 768px) {
  header h1 {
    display: none;
  }
  header .sel {
    display: block;
  }
  header .right a:last-of-type {
    display: none;
  }
  .main .menu {
    display: none;
  }
  .main .content {
    width: 100%;
  }
}
/*# sourceMappingURL=proList.css.map */