@charset "UTF-8";
body {
	margin: 0;
	font: 12px/1 "Microsoft YaHei", Tahoma, Arial, Helvetica, sans-serif;
}

p,
dl,
dd,
ol,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

ul,
li,
ol {
	list-style: none;
}

input {
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	padding: 0;
}

img {
	border: none;
	vertical-align: middle;
}

button,
input,
textarea {
	margin: 0;
	padding: 0;
	background: none;
	font-family: inherit;
	vertical-align: middle;
	outline: none;
	/* 去掉输入框点击时出现的轮廓框 */
	border: none;
}

a {
	text-decoration: none;
	color: #333333;
}

i,
em {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.clearfix {
	*zoom: 1;
}
